<!-- start navigation -->
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HallManage <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AdminHome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End navigation -->

<!--Start login form-->
<div class="container-fluid" style="margin-top:100px">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- Start card -->
      <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Hall Manage</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
          <div class="container-fluid" style="margin-top:30px">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <form class="form-inline md-form mr-auto mb-4" style="margin-top:0px">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>




          <!-- Form -->
          <form class="text-center" style="color: #757575;">

            <!-- User Name -->
            <div class="md-form">
              <input type="text" id="materialLoginFormText" class="form-control">
              <label for="materialLoginFormText">Hall Name</label>
            </div>

          </form>
          <!-- End Form -->

          <!--Button-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4"><button class="btn btn-primary" type="submit">Add</button></div>
              <div class="col-md-4"><button class="btn btn-primary" type="submit">Update</button></div>
              <div class="col-md-4"><button class="btn btn-primary" type="submit">Delete</button></div>
            </div>
          </div>
          <!--End of button-->

        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
